/*Logo de chargement*/
.chargementProduits {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*Logo d'erreur*/
.erreurProduits {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  /*    background-image: url("error.svg"); */
  background-image: url("/client/error.svg");
}

/*DIV affichange les boutons rose de debug au dessus de tout*/
.debugflottant {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1000;
}
/*Boutons rose de débug*/
.boutonDebug {
  display: block;
  margin: 30px 30px 30px auto;
  background-color: #4e8e77;
  color: #ffffff;
  border: none;
}
/*Carré blanc qui recouvre l'écran pendant le chargement*/
#cacher-chargement {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 9999; /* Higher than anything else in the document */
}

/*Carré de la zone login register*/
.login_register_zone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
}
.login_register_zone_head {
  /*Titre*/

  text-align: center;
  padding: 10px;
}
.login_register_zone_body {
  /*Corps avec formulaire*/
  border: 2px solid #000000;
}

/*Formulaires de login et register*/
.loginRegisterFormulaire {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Boutons de login / register et d'echange entre les deux */
.loginRegisterEchangeBouton,
.loginRegisterBouton {
  display: block;
  margin: 20px auto 20px auto;
  width: 300px;
}

/*Table des formulaires */
.loginRegisterTable {
  width: 100%;
}
.loginRegisterTable th {
  width: 50%;
  padding: 5px 20px 5px 20px;
}

/*Logo springboot du coin */
.springboot_logo {
  position: fixed;
  left: 95%;
  top: 90%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-image: url("/client/spring-boot.png");
  background-size: contain;
}

/*Image du produit et sont contour blanc et son étoile (si favori) */
.image-produit-padding {
  /*léger contour blanc en utilisant un DIV*/
  padding: 10px;
  background-color: #ffffff;
  position: relative;
}
.image-produit {
  background-image: url("/client/loadingimg.svg"); /*Remplacé par la vrai par le JS*/
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  margin: auto;
}
.image-favori {
  /*Petite étoile dans le coin de la photo d'un produit favori*/
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  display: block;
}

/*Store*/
/*Carré du store*/
.store_zone {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Emplacement des produits*/
.card-container {
  flex-grow: 1;
  display: relative;
}
